body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header .header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 40px;
    margin-left: -20px;
}

header .back-arrow {
    color: white;
    font-size: 25px;
    margin-right: 10px;
    position: relative;
    top: 22px;
}

header .header .title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    flex-grow: 1;
    text-align: center;
    position: relative;
    top: 30px;
}

main .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    overflow: hidden;
}

main .card-content {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 10px;
    border-bottom: 1px solid #ddd;
}

main .card-image img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

main .card-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main .card-text h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

main .card-text p {
    font-size: 14px;
    color: #666;
}

main .card-notification {
    display: flex;
    align-items: center;
    gap: 10px;
}

main .notification-badge {
    background-color: var(--peachy-color);
    color: white;
    padding: 5px 9px;
    border-radius: 50%;
    font-size: 12px;
}

main .arrow {
    font-size: 24px;
    color: black;
}

/* Responsive Design */

@media (max-width: 768px) {
    main .card-content {
        flex-direction: row;
        align-items: flex-start;
    }

    main .card-text h3 {
        font-size: 14px;
    }

    main .card-text p {
        font-size: 12px;
    }

    main .card-image img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    main .card-content {
        align-items: center;
        text-align: center;
    }

    main .card-text {
        align-items: center;
    }

    main .card-notification {
        margin-top: 10px;
    }
}

footer .pagination-container {
    position: fixed;
    bottom: 10px; /* Distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer button {
    background-color: #4a588e; /* Use the color you prefer */
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}

footer button:active {
    background-color: #3c4a79;
}

footer input {
    width: 40px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 10px;
}

@media (max-width: 768px) {
    footer .pagination-container {
        bottom: 30px; /* Adjust for smaller devices */
    }
    
    footer button {
        padding: 8px;
        font-size: 15px;
    }

    footer input {
        width: 30%;
        font-size: 18px;
    }
}