body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header .header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 40px;
    margin-left: -20px;
}

header .back-arrow {
    color: var(--white-color);
    font-size: 25px;
    margin-right: 10px;
    position: relative;
    top: 22px;
}

header .header .title {
    font-size: 20px;
    font-weight: bold;
    color: var(--white-color);
    flex-grow: 1;
    text-align: center;
    position: relative;
    top: 30px;
}

main .btn {
    background-color: var(--primary-color); /* Màu xanh như hình */
    color: var(--white-color);
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    margin-top: 5px;
}

main .btn i{
    margin-left: 20px;
}

/* General container styling */
main .fee-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* Row styling */
main .fee-row {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

main .fee-item span{
    position: relative;
    top: 5px;
    color: var(--red-color);
}

/* Header row */
main .fee-header {
    font-weight: bold;
}

main .fee-header{
    color: var(--primary-color);
}

/* Flexbox columns */
main .fee-item {
    flex: 1;
    text-align: center;
}

/* Left-align the first column */
main .fee-item:first-child {
    text-align: left;
}

/* Red text for special amounts */
main .amount-red {
    color: var(--red-color);
}

/* Responsive design */
@media (max-width: 768px) {
    main .fee-row {
        padding: 22px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    main .fee-row {
        padding: 14px;
        font-size: 13px;
    }
}

footer .debt-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 10px;
    position: fixed;
    bottom: 20px;
}

footer .label {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
}

footer .amount {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--red-color);
}

/* Responsive styling */
@media (max-width: 768px) {
    footer .label, .amount {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    footer .label, .amount {
        font-size: 1rem;
    }
}