body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header .header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 40px;
    margin-left: -20px;
}

header .back-arrow {
    color: var(--white-color);
    font-size: 25px;
    margin-right: 10px;
    position: relative;
    top: 22px;
}

header .header .title {
    font-size: 20px;
    font-weight: bold;
    color: var(--white-color);
    flex-grow: 1;
    text-align: center;
    position: relative;
    top: 30px;
}

main .container {
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
}

main .password-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

main .form-group {
    margin-bottom: 15px;
}

main label {
    display: block;
    margin-bottom: 5px;
    color: var(--primary-color);
    font-weight: bold;
}

main input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    transition: padding 0.3s ease, font-size 0.3s ease; /* Smooth transition on resize */
}

main input[type="password"]::placeholder {
    color: #ccc;
    font-size: 13px;
}

/* iPad-specific styles */
@media (min-width: 768px) and (max-width: 1024px) {
    main .password-form {
        max-width: 500px; /* Increase the form width slightly on iPads */
    }

    main input[type="password"] {
        padding: 12px; /* Increase padding for a more comfortable touch area */
        font-size: 15px; /* Slightly increase font size */
        width: 190%;
    }

    footer .button {
        font-size: 14px; /* Kích thước chữ nhỏ hơn trên màn hình nhỏ */
        padding: 12px 30px; /* Giảm kích thước padding */
    }
}

/* General mobile adjustments */
@media (max-width: 768px) {
    main .password-form {
        padding: 15px;
    }

    main label, input[type="password"] {
        font-size: 15px;
    }

    main input[type="password"] {
        padding: 8px;
    }
}

@media (min-width: 820px) and (max-width: 1180px) {
    main input[type="password"] {
        padding: 12px;
        font-size: 15px;
        width: 200%;
    }
}

@media (min-width: 1024px) and (max-width: 1366px) {
    main input[type="password"] {
        padding: 12px; /* Increase padding for a more comfortable touch area */
        font-size: 15px; /* Slightly increase font size */
        width: 260%;
    }
}

/* Small screens like mobile phones */
@media (max-width: 480px) {
    input[type="password"] {
        padding: 6px;
        font-size: 12px;
    }
}

footer .container{
    text-align: center;
}

footer .button {
    background-color: var(--primary-color); /* Màu nền của nút */
    color: white; /* Màu chữ */
    padding: 12px 30px; /* Kích thước nút */
    border: none;
    border-radius: 20px; /* Bo tròn góc */
    font-size: 16px; /* Kích thước chữ */
    cursor: pointer;
}
