* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    font-size: 66.67%;
}

header {
    position: relative; 
    height: 120px; 
}

header .header {
    position: absolute; 
    bottom: 0;
    left: 10px; 
    padding: 10px; 
}

header .header i {
    font-size: 18px; 
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    flex-grow: 1; 
}

main .main__photo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main__photo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

main .main__title {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main__title p {
    font-weight: bold;
    font-size: 1.5rem;
    opacity: 0.7;
}

main .main__title_small {
    width: 67%;
    margin-top: 20px;
}
main .main__title_small p {
    font-size: 1.2rem;
    opacity: 0.7;
    margin-left: 66px;
    font-weight: bold;
}
main .main__button {
    width: 64%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 20px;
}

main .main__button .btn{
    width: 255px;
    height: 55px;
    border: 1px solid rgb(163, 162, 162);
    border-radius: 30px;
    background-color: #FAFAFA;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: bold;
}

@media (max-width: 480px) {
    main .main__photo img {
        width: 100px; /* Giảm kích thước ảnh */
        height: 100px;
    }

    main .main__title_small {
        width: 99%;
        margin-top: 20px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    main .main__photo img {
        width: 120px; /* Kích thước ảnh vừa đủ cho máy tính bảng */
        height: 120px;
    }
    main .main__button {
        width: 69%;
    }
    main .main__title_small {
        width: 56%;
        margin-top: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    main .main__photo img {
        width: 150px; /* Tăng kích thước ảnh cho iPad Pro */
        height: 150px;
    }
    main .main__button {
        width: 51%;
    }
}

@media (min-width: 820px) and (max-width: 1180px) {
    main .main__title_small {
        width: 52%;
        margin-top: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1366px) {
    main .main__title_small {
        width: 42%;
        margin-top: 20px;
    }
}